tags
target/
__pycache__
config*.toml
dummy_config.toml
regtest/
venv/
pytest.log
TODO
**/target

.DS_Store
gui/.DS_Store
gui/src/.DS_Store
gui/src/app/.DS_Store
gui/src/app/state/.DS_Store
gui/src/app/view/.DS_Store
gui/src/daemon/.DS_Store
gui/src/ui/.DS_Store
gui/static/.DS_Store
